*{
    margin: 0;
    padding: 0;

    color: black !important;

    box-sizing: border-box;
}

/* -------------------------------------------------------------------- */

$mainColor: #fffffe;
$lightGray: #F7F7F7;

/* -------------------------------------------------------------------- */

@mixin button($baseColor, $secondaryColor){
    font-size: 16px;
    color: white;

    padding: 32px 18px;
    margin-bottom: 1rem;

    border: 4px solid $secondaryColor;
    border-radius: 10px;

    background-color: transparent;

    &:hover{
        cursor: pointer;
        border-color: $baseColor;
    }

    &:disabled{
        border-color: #666666;
    }
    &:disabled:hover{
        cursor: initial;
    }
}

@mixin section($width, $background){
    width: $width;

    overflow: hidden;

    background: $background;
}

@mixin toggleColButton{
    width: 100%;
    border: none;

    transition: 0.4s;
    background: rgb(224,224,223);

    &:hover, &:focus{
        background: rgb(224,224,223);
    }
}

@mixin flex($flexDirection, $justifyContent, $alignItems){
    display: flex;
    flex-direction: $flexDirection;

    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin boxShadow(){
    box-shadow: rgb(11, 50, 94) 2px 5px 16px 0px, 5px 5px 15px -30px rgba(0,0,0,0);
}

/* -------------------------------------------------------------------- */

