*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------- */

$mainColor: #414B60;
$lightGray: #F7F7F7;

/* -------------------------------------------------------------------- */

@mixin button($baseColor, $secondaryColor){
    width: 100%;

    font-weight: 600;
    font-size: 20px;
    color: white;

    padding: 0.75rem 0;
    margin-bottom: 1rem;

    border: 4px solid $secondaryColor;
    border-radius: 10px;

    background-color: transparent;//$baseColor;

    &:hover{
        cursor: pointer;
        border-color: $baseColor;
        //background-color: $secondaryColor;
    }

    &:disabled{
        border-color: #666666;
        //background-color: #888888;
    }
    &:disabled:hover{
        cursor: initial;
    }
}

@mixin section($width, $background){
    width: $width;
    height: 100vh;

    background: $background;
}

@mixin flex($flexDirection, $justifyContent, $alignItems){
    display: flex;
    flex-direction: $flexDirection;

    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin boxShadow(){
    box-shadow: rgb(11, 50, 94) 2px 5px 16px 0px, 5px 5px 15px -30px rgba(0,0,0,0);
}

/* -------------------------------------------------------------------- */

